@import "tailwindcss";

@theme{
    --color-primary: #fff9ed;

    --font-sans: 'Neue Haas Grotesk Display Pro', sans-serif;

    --animate-turn-red: turn-red 0.6s ease-in forwards ;

    @keyframes turn-red {
        0% {
            background-color: initial;
        }
    
        100% {
            background-color: var(--color-red-700);
        }
    }
}
