@import "tailwindcss";

@theme{
    --color-primary: #FFF9ED;
    --color-card: #F6F1EA;

    --color-border: var(--color-gray-300) ;

    --font-sans: 'Neue Haas Grotesk Display Pro', sans-serif;

    --animate-turn-red: turn-red 0.6s ease-in forwards ;

    @keyframes turn-red {
        0% {
            background-color: initial;
        }
    
        100% {
            background-color: var(--color-red-700);
        }
    }
}
