@import "tailwindcss";

@theme {
	--color-primary: #fff9ed;
	--color-card: #f6f1ea;

	--color-border: var(--color-gray-300);

    --breakpoint-xs: 340px;

	--font-sans: "Neue Haas Grotesk Display Pro", sans-serif;

	--animate-turn-red: turn-red 0.6s ease-in forwards;

	@keyframes turn-red {
		0% {
			background-color: initial;
		}

		100% {
			background-color: var(--color-red-700);
		}
	}


}

.bloom {
	will-change: transform, opacity, filter;
}
