@import "tailwindcss";

@theme {
	--color-primary: #fff9ed;
	/* --color-card: color-mix(in oklab, #FCF3DA 70%, transparent); */
	--color-card-70: color-mix(in oklab, var(--color-white) 70%, transparent);
	--color-card: var(--color-gray-100);

	--color-border: var(--color-gray-300);

    --breakpoint-xs: 340px;

	--font-sans: "Neue Haas Grotesk Display Pro", sans-serif;

	--animate-turn-red: turn-red 0.6s ease-in forwards;

	@keyframes turn-red {
		0% {
			background-color: initial;
		}

		100% {
			background-color: var(--color-red-700);
		}
	}


}

.bloom {
	will-change: transform, opacity, filter;
}
